body {
/*    padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
/*    padding-left: 15px;
    padding-right: 15px;*/

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contenedor-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: center;
}
.contenedor-formulario-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contenedor-modal-registro-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contenedor-super-digito {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

.contenedor-super-digito-controles {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.contenedor-historial {
    text-align: center;
}

.contenedor-limpiar-histotial {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 44%
}

.contenedor-botones-login {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}