
@{
    ViewBag.Title = "IniciarSesion";
}


@section stylesheets{
    <link href="~/Content/Site.css?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/javascript/Pages/Seguridad/IniciarSesion.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
}


<div class="contenedor-login">
    <div class="contenedor-formulario-login">
        <h2>Super digito</h2>
        <div>
            <label>Usuario</label>
            <input class="form-control" id="txtNombreUsuario" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" class="form-control" id="txtPasswordUsuario" />
        </div>
        <div class="contenedor-botones-login">
            <button class="btn btn-success" id="btnIniciarSesion">Iniciar Sesión</button>
            <button class="btn btn-primary" id="btnAbrirModalRegistro">Registrar</button>
        </div>
    </div>
</div>

@Html.Partial("_PartialRegistrarUsuario")